@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    margin:0;
    padding:0;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

body {
    min-width: fit-content;
}

.image {
    flex: 1 0 12.5rem;
}

.circle {
    margin: 0 auto;
    left: 0;
    right: 0;
}

.layer {
    mix-blend-mode: normal;
    opacity: 0.9;
    background-color: #4D96A9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}